<launch>
    <node name="imu_talker" pkg="oped_teleopp" type="Imu.py"  output="screen">
    </node>

    <node name="engine" pkg="oped_teleopp" type="engine.py"  output="screen">
    </node>

    <node name="servo_controller" pkg="oped_teleopp" type="ServoController.py"  output="screen">
    </node>
    
</launch>