<launch>
    
    <node name="imu_talker" pkg="oped_teleopp" type="Imu.py"  output="screen">
    </node>

    <node name="testing_oped" pkg="oped_teleopp" type="testingOped.py"  output="screen">
    </node>

    <!-- <node name="servo_controller" pkg="oped_teleopp" type="ServoController.py"  output="screen">
    </node> -->

</launch>